<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td onclick="micropostlist('<%= user.id %>')" >Post</td>
        <td onclick="show_user('<%= user.id %>')" >Show</td>
        <td onclick="edit_user('<%= user.id %>')" >Edit</td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<div id="show" style="display: none ">
	<p>
		<strong>Name:</strong>
	 	<p id="name"></p>
	</p>
	<p>
		<strong>Email:</strong>
		<p id="email"></p>
	</p>
</div>

<div id="edit" style="display: none ">
	<p>
		<input type="hidden" id="editId"></input>
	</p>
	<p>
		<strong>Name:</strong>
	 	<input type="text" id="editName"></input>
	</p>
	<p>
		<strong>Email:</strong>
		<input type="email" id="editEmail"></input>
	</p>
	<p>
		<input type="button" id="edituserButton" onclick="edituserAjax()" value="Edit User"></input>
	</p>
</div>

<div id="micropostList" style="display: none ">
	<p>
		<strong>Post List:</strong>
		<p id="micropostName"></p>
	</p>
	<p>
		<ul id="micropostUl">
		</ul>
	</p>
</div>
